.maxHeightChat {
  min-height: calc(100vh - 12rem);
  @media (min-width: 550px) {
    max-height: calc(100vh - 20rem);
  }
}

.maxHeightConversation {
  min-height: calc(100vh - 24rem);
  max-height: calc(100vh - 17rem);
}
